@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;100&display=swap');

body {
    font-family: 'Roboto', sans-serif;

}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}
.logout a:hover{
    color: white;
}
.wrapper {
    position: relative;
    overflow: hidden;
}

.wrapper:after {
    content: '';
    display: block;
    padding-top: 100%;
}

.wrapper img {
    width: auto;
    height: 100%;
    max-width: none;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}
html,body {
    height: 100%;
    display: block;
    margin: 0;
    padding: 0;
}
/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}
.content {
    padding: 16px;
}
/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 102px;
}
#myHeader{
    z-index: 100;
}
.user a{
    text-decoration: none;
    color: rgba(255,255,255,.5);
}
.user a:hover{
    color: #f8f9fa;
    text-decoration: none;
}
.dropdown-item:hover{
    background-color: #007bff;
}
#myHeader{
    z-index: 500;
}
/*.card {*/
/*  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
/*  max-width: 300px;*/
/*  margin: auto;*/
/*  text-align: center;*/
/*  font-family: arial;*/
/*}*/

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}
.user i{
    color: rgba(255,255,255,.5);
}