


<section class="my-add-product-page h-100">
    <div class="container h-100">
        <div class="row justify-content-md-center h-100">
            <div class="card-wrapper">
                <div class="brand">
                    <img src="img/logo.jpg" alt="logo">
                </div>

                <div class="card fat">

                    <div class = "card-body">
                        <h4 class="card-title">Add product form</h4>

                        <form method="POST" class="my-product-validation" novalidate="">
                            <div class="form-group">
                                <label for="name">Product name</label>
                                <input id="name" type="text" class="form-control" name="name" required autofocus>
                                <div class="invalid-feedback">
                                    What's your product's name?
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="description">Product description</label>
                                <textarea id="description" class="form-control" name="description" required autofocus></textarea>
                                <div class="invalid-feedback">
                                    What's your product's description?
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="price">Product price</label>
                                <input type="text" id="price" class="form-control" name="price" required autofocus>
                                <div class="invalid-feedback">
                                    What's your product's price?
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="quantity">Product quantity</label>
                                <input type="text" id="quantity" class="form-control" name="quantity" required autofocus>
                                <div class="invalid-feedback">
                                    What's your product's stock?
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="photo">Product photo</label>
                                <input type="file" id="photo" name="photo" class="form-control" required autofocus>
                                <div class="invalid-feedback">
                                    What's your product's photo?
                                </div>
                            </div>

                            <div class="form-group m-0">
                                <button type="submit" class="btn btn-primary btn-block">
                                    Register product
                                </button>
                            </div>


                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
