body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body.my-add-form-page {
    background-color: #f7f9fb;
    font-size: 14px;
}


.my-add-form-page .brand {
    width: 90px;
    height: 90px;
    overflow: hidden;
    border-radius: 50%;
    margin: 40px auto;
    box-shadow: 0 4px 8px rgba(0,0,0,.05);
    position: relative;
    z-index: 1;
}

.my-add-form-page .brand img {
    width: 100%;
}

.my-add-form-page .card-wrapper {
    width: 400px;
}

.my-add-form-page .card.fat {
    padding: 10px;
}

.my-add-form-page .card .card-title {
    margin-bottom: 30px;
}

.my-add-form-page .form-control {
    border-width: 2.3px;
}

.my-add-form-page .form-group label {
    width: 100%;
}

.my-add-form-page .btn.btn-block {
    padding: 12px 10px;
}

.my-add-form-page .footer {
    margin: 40px 0;
    color: #888;
    text-align: center;
}

@media screen and (max-width: 425px) {
    .my-add-form-page .card-wrapper {
        width: 90%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 320px) {
    .my-add-form-page .card.fat {
        padding: 0;
    }

    .my-add-form-page .card.fat .card-body {
        padding: 15px;
    }
}