<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display Cart</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--    <link rel="stylesheet" href="home.css"/>-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../static/display-cart.js"></script>
    <link rel="stylesheet" href="../static/display-cart.css"/>
</head>
<body>
<nav id="header"></nav>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-image" id="cart">
                    <thead>
                    <tr>
                        <th scope="col"> </th>
                        <th scope="col">Product</th>
                        <th scope="col">Available</th>
                        <th scope="col" class="text-center">Quantity</th>
                        <th scope="col" class="text-right">Price</th>
                        <th> </th>
                    </tr>
                    </thead>
                    <tbody id="listcart">
                    </tbody>
                </table>
            </div>
        </div>


        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                    <button class="btn btn-block btn-light" id="back" onclick="redirectToList()">Continue Shopping</button>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <button class="btn btn-lg btn-block btn-primary text-uppercase" id="submit" data-toggle="modal" data-target="#addressPopUp">Checkout</button>
                </div>
                <!--      begin of modal              -->

                <div class="modal fade" id="addressPopUp" tabindex="-1" role="dialog" aria-labelledby="addressPopUp" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Set your delivery address:</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="addressForm" >
                                    <div class="form-group row">
                                        <label for="addressInput" class="col-md-4 col-form-label">Delivery address:</label>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control" id="addressInput" placeholder="Enter your desired delivery address" required/>
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" id="checkout" class="btn btn-primary">Save changes</button>
                                    </div>
                                </form>



                            </div>

                        </div>
                    </div>
                </div>
                <!--      end of modal              -->

            </div>
        </div>
    </div>
</div>
</body>


</html>