<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<body>
<nav class="navbar header navbar-expand-md navbar-dark bg-primary" id="myHeader">
  <div class="container-fluid">
    <a class="navbar-brand" href="home">
      <img src="../static/raw-logo.png" style=" height: auto;
           width: auto;
           max-width: 50px;
           max-height: 50px; image-rendering: pixelated"/>
      Shopping Center</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
      <ul class="navbar-nav m-auto">
        <li class="nav-item home">
          <a class="nav-link" href="home">Home</a>
        </li>
        <li class="nav-item product">
          <a class="nav-link" href="product-list">Product</a>
        </li>
        <li class="nav-item contact">
          <a class="nav-link" href="contact.html">Contact</a>
        </li>
        <li class="nav-item login" id="log-field">
          <!--                    <a class="nav-link" href="login">Login</a>-->
        </li>
      </ul>
      <div class="nav-link float-right dropdown dropdown-toggle user" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa" id="icon-user">
        </i>
        <a class="username" id="user" href="#"></a>
        <div class="dropdown-menu bg-primary" id="dropdownData" aria-labelledby="dropdownMenuButton">
          <div class="dropdown-item profile">
            <a href="#" id="profile" onclick='redirectToProfile()'><i class="fa fa-user-circle" ></i> My Profile</a>
          </div>
          <div class="dropdown-item displaycart">

          </div>

        </div>
      </div>
    </div>
  </div>
</nav>
</body>
<script>
  $('.dropdown-item a').click(function(e){
    $(".dropdown-menu").addClass("show");
  });
</script>
<script>
  $(document).ready(function() {
    loaduser();
    check_curent_page();
  });
  // When the user scrolls the page, execute myFunction
  window.onscroll = function() {myFunction()};

  var page_name = document.title;
  function check_curent_page(){
    switch (page_name){
      case 'Home':
        $(".home").addClass("active m-auto");

            break;

      case 'Product List':
      case 'Product Details':
        $(".product").addClass("active m-auto");
            break;
      case 'Login':
        $(".login").addClass("active m-auto");
        break;
      case 'Sign Up':
        $(".login").addClass("active m-auto");

        break;
      default : break;
    }
  }
  // Get the header
  var header = document.getElementById("myHeader");

  // Get the offset position of the navbar
  var sticky = header.offsetTop;

  // Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
  function myFunction() {
    if (window.pageYOffset > sticky) {
      header.classList.add("sticky");
    } else {
      header.classList.remove("sticky");
    }
  }
  function loaduser(){
    $.get("http://localhost:8080/username",function (data){
      const object = JSON.parse(data);
      $(".username").html(object.username);
      $(".username").html(object.name);

      if(object.authenticated !== false){
        $("#dropdownData").append("<div class=\"dropdown-item logout\"><a class=\"\" id=\"logout\" style='color: rgba(255,255,255,.5);' onclick='logout()'><i class=\"fa fa-door-open\" ></i> Logout</a></div>");
        $('#log-field').remove();
        // $("#log-field").html("<a class=\"nav-link\" onclick='logout()' href=\"#\">Logout</a>");
        $("#icon-user").addClass("fa-user");

      }
      else{
        $("#log-field").html("<a class=\"nav-link\" href=\"login\">Login</a>");
        $("#icon-user").addClass("fa-user-secret");
        $("#icon-user a").addClass("disabled");
        $("#dropdownMenuButton").removeClass("dropdown dropdown-toggle");
        $("#dropdownMenuButton").removeAttr("data-toggle");
        $(".dropdown-menu").css("display: none");
      }
      let userAuthentication = JSON.parse(data);
      $.map(userAuthentication.authorities, function(elem, index) {

        if (elem.authority === "SHOP_PRIVILEGE"){
          $(".displaycart").append("<a href=\"#\" onclick='redirectToShop()'><i class=\"fas fa-store\" ></i> My Shop</a>")

        } else if (elem.authority === "USER_PRIVILEGE"){
          $(".displaycart").append( "<a href=\"#\" onclick='redirectToCart()'><i class=\"fa fa-shopping-cart\" ></i> My Cart</a>");


        }
      });
    })
  }

  function redirectToShop(){
    window.location.href = "seller-product"
  }

  function redirectToCart(){
    window.location.href = "cart"
  }

  function redirectToProfile(){
    window.location.href = "profile"
  }

  function logout(){
    var leave = confirm("Do you want to leave?");
    if(leave){
      $.post("http://localhost:8080/logout");
      window.location.href ="home";
    }
  }
</script>
</html>