<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script
            src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../static/home.js"></script>
    <link rel="stylesheet" href="../static/home.css"/>
    <title>Home</title>

</head>
<body>
<nav id="header"></nav>
<section class=" text-center">
    <!--Section: Block Content-->
    <section>

        <!--Carousel Wrapper-->
        <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
            <!--Indicators-->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-2" data-slide-to="1"></li>
                <li data-target="#carousel-example-2" data-slide-to="2"></li>
            </ol>
            <!--/Indicators-->
            <!--Slides-->
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="view">
                        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Others/clothes(5)-crop.jpg"
                             alt="First slide">
                        <a href="#!">
                            <div class="mask rgba-black-light"></div>
                        </a>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">Simple</h3>
                        <p>PandaPik staff loves simplicity. We believe in utilizing tech for the greater good.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <!--Mask color-->
                    <div class="view">
                        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Others/clothes(4)-crop.jpg"
                             alt="Second slide">
                        <a href="#!">
                            <div class="mask rgba-black-light"></div>
                        </a>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">Intuitive</h3>
                        <p>PandaPik User Interface is familiar. You have seen it. You know how to use it.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <!--Mask color-->
                    <div class="view">
                        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Others/clothes(3)-crop.jpg"
                             alt="Third slide">
                        <a href="#!">
                            <div class="mask rgba-black-light"></div>
                        </a>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">Free</h3>
                        <p>PandaPik is a non-profit organization designed to help non-professional sellers through the COVID-19.</p>
                    </div>
                </div>
            </div>
            <!--/Slides-->
            <!--Controls-->
            <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <!--/Controls-->
        </div>
        <!--/Carousel Wrapper-->
    </section>
    <!--Section: Block Content-->
</section>
<div class = "main-body">
        <div class="separator">
            <div class = "separator_title">panda piks  of the day</div>
        </div>

        <div class="container my-4">

            <div class="row text-center">

                <!--Grid column-->
                <div class="col-md-3 mb-4" >

                    <img id= "people1" class="rounded-circle people" style="max-height: 200px;max-width: 200px" alt="50x50" src="../static/mask.png"
                         data-holder-rendered="true" data-toggle="tooltip" data-placement="top" data-html="true"
                         title="Personally, I would pick my trusty <u><em> Hammer X-1291 </em></u> as the product of the day!
                         It is just so reliable, you know?"
                         >
                    <blockquote class="blockquote text-center">
                        <p class="mb-0">Hope Jacob</p>
                        <footer class="blockquote-footer"><small>technician, 21 years old</small></footer>
                    </blockquote>
                </div>
                <!--Grid column-->
                <div class="col-md-3 mb-4">

                    <img id= "people2" class="rounded-circle z-depth-2" style="max-height: 200px;max-width: 200px" alt="100x100" src="../static/mask2.png"
                         data-holder-rendered="true" data-toggle="tooltip" data-placement="top" data-html="true"
                         title="It would <u> definitely </u> be the <em><u>Hit 'em with a song</em></u> book I just purchased. The book is so intriguing!
                            Purchasing on here means I get a free panda stuffing as well!" >
                    <blockquote class="blockquote text-center">
                        <p class="mb-0">Jack Poly</p>
                        <footer class="blockquote-footer"><small>reader, 23 years old</small></footer>
                    </blockquote>


                </div>

                <!--Grid column-->
                <div class="col-md-3 mb-4">

                    <img id="people3" class="rounded-circle z-depth-2" style="max-height: 200px;max-width: 200px" alt="100x100" src="../static/mask3.png"
                         data-holder-rendered="true" data-toggle="tooltip" data-placement="top" data-html="true"
                         title="I wouldn't shut up about my new <em><u>Ukulele guitar</em></u> LOL! I have been following embedded tutorials sold together with
                         the stuff! I love the sound, and I know I can always trust PandaPik platform to hand me the best stuff <3">
                    <blockquote class="blockquote text-center">
                        <p class="mb-0">Pam Melle</p>
                        <footer class="blockquote-footer"><small>artist, 49 years old</small></footer>
                    </blockquote>

                </div>

                <div class="col-md-3 mb-4">

                    <img id="people4" class="rounded-circle z-depth-2" style="max-height: 200px;max-width: 200px" alt="100x100"
                         src="../static/mask4.png"
                         data-holder-rendered="true"
                         data-toggle="tooltip" data-placement="top" data-html="true"
                         title="Hmmm tough choice! But I guess I would pick the new <em><u>XY161 duster</u></em>. It is a breeze to do chores now! And it keeps
                         my house spotless!!">
                    <blockquote class="blockquote text-center">
                        <p class="mb-0">Jollin Jade</p>
                        <footer class="blockquote-footer"><small>housewife, 29 years old</small></footer>
                    </blockquote>

                </div>

            </div>


        </div>


<!--    <div style="background: #c3fdff">-->
<!--        <div class="main-body">-->
<!--            <div class="separator">-->
<!--                <div class = "separator_title">panda piks product featured</div>-->
<!--            </div>-->
<!--            <div class="row my-4" style="text-align: center">-->
<!--                <div class = "col d-flex justify-content-center">-->
<!--                    <div class="card h-100" style="max-width:400px; align-self: center">-->
<!--                        <img class="card-img-top" src="../../../../product-photos/108/banana-product.png" alt="banana image" style="width:100%; background-color: orange; height: 22rem">-->
<!--                            <div class="card-body">-->
<!--                                <h4 class="card-title">Banana</h4>-->
<!--                                <p class="card-text">A ripe banana, perfect to be used for scale</p>-->
<!--                            </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class = "col d-flex justify-content-center">-->
<!--                    <div class="card h-100" style="max-width:400px; align-self: center">-->
<!--                        <img class="card-img-top" src="../../../../product-photos/109/paper-product.png" alt="paper image" style="width:100%; background-color: pink; height: 22rem">-->
<!--                        <div class="card-body">-->
<!--                            <h4 class="card-title">Toilet paper</h4>-->
<!--                            <p class="card-text">Legend said one third of the rolls are triple ply</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class = "col d-flex justify-content-center">-->
<!--                    <div class="card h-100" style="max-width:400px; align-self: center">-->
<!--                        <img class="card-img-top" src="../../../../product-photos/110/potato-product.png" alt="potato image" style="width:100%; background-color: sandybrown; height: 22rem">-->
<!--                        <div class="card-body">-->
<!--                            <h4 class="card-title">Potato</h4>-->
<!--                            <p class="card-text">Sorry for the long post</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <br>-->
<!--            <br>-->
<!--            <div class="row my-4" style="text-align: center">-->
<!--                <div class = "col d-flex justify-content-center">-->
<!--                    <div class="card h-100" style="max-width:400px; align-self: center">-->
<!--                        <img class="card-img-top" src="../../../../product-photos/111/phone-product.png" alt="phone image" style="width:100%; background-color: salmon; height: 22rem">-->
<!--                        <div class="card-body">-->
<!--                            <h4 class="card-title">Iphone 11XS</h4>-->
<!--                            <p class="card-text">As cheap as a potato</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class = "col d-flex justify-content-center">-->
<!--                    <div class="card h-100" style="max-width:400px; align-self: center">-->
<!--                        <img class="card-img-top" src="../../../../product-photos/coffe-product.png" alt="coffee image" style="width:100%; background-color: moccasin; height: 22rem">-->
<!--                        <div class="card-body">-->
<!--                            <h4 class="card-title">Ice coffee</h4>-->
<!--                            <p class="card-text">You have reached a check-point, have a coffee</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            </div>-->
<!--        </div>-->


</div>

<section id="team" class="pb-5">
    <div class="container">
        <div class="separator">-->
                            <div class = "separator_title">panda piks product featured</div>
                        </div>
        <div class="row my-4">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card h-100">
                                <img class="card-img-top" src="../../../../product-photos/111/phone-product.png" alt="phone image" style="width:100%; background-color: salmon; height: 22rem">
                                <div class="card-body">
                                    <h4 class="card-title">Iphone 11XS</h4>
                                    <p class="card-text">As cheap as a potato</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card h-100">
                                <img class="card-img-top" src="../../../../product-photos/108/banana-product.png" alt="banana image" style="width:100%; background-color: orange; height: 22rem">
                                <div class="card-body">
                                    <h4 class="card-title">Banana</h4>
                                    <p class="card-text">A ripe banana, perfect to be used for scale</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card h-100">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card h-100">
                                <img class="card-img-top" src="../../../../product-photos/109/paper-product.png" alt="paper image" style="width:100%; background-color: pink; height: 22rem">
                                <div class="card-body">
                                    <h4 class="card-title">Toilet paper</h4>
                                    <p class="card-text">Legend said one third of the rolls are triple ply</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card h-100">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card h-100">
                                <img class="card-img-top" src="../../../../product-photos/110/potato-product.png" alt="potato image" style="width:100%; background-color: sandybrown; height: 22rem">
                                <div class="card-body">
                                    <h4 class="card-title">Potato</h4>
                                    <p class="card-text">Sorry for the long post</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card h-100">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card h-100">
                                <img class="card-img-top" src="../../../../product-photos/111/phone-product.png" alt="phone image" style="width:100%; background-color: salmon; height: 22rem">
                                <div class="card-body">
                                    <h4 class="card-title">Iphone 11XS</h4>
                                    <p class="card-text">As cheap as a potato</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card h-100">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card h-100">
                                <img class="card-img-top" src="../../../../product-photos/coffe-product.png" alt="coffee image" style="width:100%; background-color: moccasin; height: 22rem">
                                <div class="card-body">
                                    <h4 class="card-title">Ice coffee</h4>
                                    <p class="card-text">You have reached a check-point, have a coffee</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card h-100">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->

        </div>
    </div>
</section>

<footer id="footer"></footer>
</body>

</html>