* {box-sizing: border-box;}

body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 10px 10px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}
.header-top{
    display: inline;
}
.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header a:hover {
    background-color: #ddd;
    text-decoration: none;
    color: black;

}

.header a.active {
    background-color: dodgerblue;
    color: white;
}

.header-right {

    float: right;

}
.header-right-nav{
    float: right;
    display:none;
}
.nav-element{
    display:none;
    float: right;
    text-align: right;
}
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}
.header-search{
    width: 900px;
    display: inline-block;
    justify-content: center;
}
.header-left{
    max-width: 300px;
}
form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: inline-block;
        text-align: left;
        width: 300px;
    }
    .nav-element{
        display:none;
        float: right;
        text-align: right;
    }
    .header-right {
        display: none;
    }

    .header-right-nav {
        display: block;

    }
}