<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link  rel="stylesheet"  th:href="@{/home.css}"/>
    <link  rel="stylesheet"  th:href="@{/login.css}"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</head>
<body class="my-login-page">
<div class="header">
    <a href="#" class="logo">CompanyLogo</a>
    <div class="header-right">
        <a href="home.html">Home</a>
        <a class="active" href="login.html">Login</a>
        <a href="register.html">Sign Up</a>
    </div>

    <div class="header-right-nav">
        <button type="button" id="nav-btn" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-th-large"></span>
        </button>
    </div>
    <div class="nav-element" id="nav-ele">
        <a href="home.html">Home</a>
        <a class="active" href="login.html">Login</a>
        <a href="register.html">Sign Up</a>
    </div>
</div>
<section class="h-100">
    <div class="container h-100">

        <div class="row justify-content-md-center h-100">

            <div class="card-wrapper">
                <div class="brand">
                    <img src="img/logo.jpg" alt="logo">
                </div>
                <div class="card fat">
                    <div class="card-body">
                        <h4 class="card-title">Login</h4>
                        <form class="my-login-validation">
                            <div class="form-group">
                                <label for="email">E-Mail Address</label>
                                <input id="email" type="email" class="form-control" >
                                <div class="invalid-feedback">
                                    Email is invalid
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password">Password
                                    <a href="forgot.html" class="float-right">
                                        Forgot Password?
                                    </a>
                                </label>
                                <input id="password" type="password" class="form-control" >
                                <div class="invalid-feedback">
                                    Password is required
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="custom-checkbox custom-control">
                                    <input type="checkbox" name="remember" id="remember" class="custom-control-input">
                                    <label for="remember" class="custom-control-label">Remember Me</label>
                                </div>
                            </div>

                            <div class="form-group m-0">
                                <button id="submit" type="submit" value="Submit" class="btn btn-primary btn-block">
                                    Login
                                </button>
                            </div>
                            <div class="mt-4 text-center">
                                Don't have an account? <a href="register.html">Create One</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="footer">
                    Copyright &copy; 2017 &mdash; Your Company
                </div>
            </div>
        </div>
    </div>
</section>


</body>
<script>
    // Get the modal
    var nav_element = document.getElementById("nav-ele");

    // Get the button that opens the modal
    var btn = document.getElementById("nav-btn");


    // When the user clicks the button, open the modal
    btn.onclick = function () {
        if(nav_element.style.display == "none"){
            nav_element.style.display = "block";
        }else{nav_element.style.display = "none";}

    }
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        // if (!nav_element.contains(event.target)) {
        //     nav_element.style.display = 'none';
        // }
        if (event.target == nav_element) {
            nav_element.style.display = "none";
        }
    }
</script>
<script type="text/javascript">

    $("#submit").click(function(e){
        e.preventDefault();
        $.post("http://localhost:8080/api/login", { email:$("#email").val(), password:$("#password").val()}, function (data) {
            alert("Data: " + JSON.stringify(data));
        }).fail(function(xhr, textStatus, errorThrown){
            alert(xhr.responseText);
        })
    })
</script>
</html>



