<html>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("form").serialize();
        $.get("http://localhost:8080/api/users",function(data){
            alert(JSON.stringify(data));
        });
    });
</script>
<body>
<form action="">
    First name: <input type="text" name="FirstName" value="Mickey"><br>
    Last name: <input type="text" name="LastName" value="Mouse"><br>
    <input type="submit" value="Submit">
</form>
</body>

</html>



