<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Store Product</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!--    <link rel="stylesheet" href="home.css"/>-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
  <link href="../static/add-product-form.css" rel="stylesheet" type="text/css">
  <style>
    #addform{
      display: none;
    }
    #myHeader{
      z-index: 500;
    }
    /* The sticky class is added to the header with JS when it reaches its scroll position */
    .sticky {
      position: fixed;
      top: 0;
      width: 100%
    }
    .content {
      padding: 16px;
    }
    /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
    .sticky + .content {
      padding-top: 102px;
    }

    .dropdown-menu{
      transition: 0.4s;
    }
    #displaycart, #user, #icon-user{
      text-decoration: none;
      color: white;
    }
    #profile{
      text-decoration: none;
      color: rgba(255,255,255,.5);
    }
    .dropdown-item:hover{
      background-color: #007bff;
    }

    .container {
      padding: 2rem 0rem;
    }

    h4 {
      margin: 2rem 0rem 1rem;
    }

    .table-image td, th{

      vertical-align: middle;
    }

  </style>
  <script>
    $(function(){
      $("#header").load("header.html");
    });
  </script>
</head>
<body>
<nav id="header"></nav>
<div class="container">
  <div class="col mb-2">
    <div class="row">


    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-image" id="cart">
          <thead>
          <tr>
            <th scope="col">
              <div class="col">
              <button class="btn btn-sm btn-primary" id="submit" data-toggle="modal" data-target="#addProduct">+</button>
            </div>
              <!--      begin of modal              -->

              <div class="modal fade" id="addProduct" tabindex="-1" role="dialog" aria-labelledby="addProduct" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Add product form</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="card fat">
                        <div class = "card-body">
                          <form method="POST" class="my-product-validation" novalidate="">
                            <div class="form-group">
                              <label for="name">Product name</label>
                              <input id="name" type="text" class="form-control" name="name" required autofocus>
                              <div class="invalid-feedback">
                                What's your product's name?
                              </div>
                            </div>


                            <div class="form-group">
                              <label for="description">Product description</label>
                              <textarea id="description" class="form-control" name="description" required autofocus></textarea>
                              <div class="invalid-feedback">
                                What's your product's description?
                              </div>
                            </div>

                            <div class="form-group">
                              <label for="price">Product price</label>
                              <input type="text" id="price" class="form-control" name="price" required autofocus>
                              <div class="invalid-feedback">
                                What's your product's price?
                              </div>
                            </div>

                            <div class="form-group">
                              <label for="quantity">Product quantity</label>
                              <input type="text" id="quantity" class="form-control" name="quantity" required autofocus>
                              <div class="invalid-feedback">
                                What's your product's stock?
                              </div>
                            </div>

                            <div class="form-group modal-footer">
                              <button type="submit" id="registerProduct" class="btn btn-primary w-100">Register product</button>
                            </div>
                          </form>
                          <form>
                            <div class="form-group">
                              <label for="photo">Product photo</label>
                              <input type="file" id="photo" name="photo" class="form-control" required autofocus>
                              <div class="invalid-feedback">
                                What's your product's photo?
                              </div>
                            </div>
                            <div class="form-group modal-footer">
                              <button type="button" class="btn btn-secondary w-50" data-dismiss="modal">Close</button>
                              <button type="submit" id="upPhoto" class="btn btn-primary w-50">Up Photo</button>
                            </div>
                          </form>


                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <!--      end of modal              -->
            </th>
            <th scope="col">Product Name</th>
            <th scope="col">Description</th>
            <th scope="col" class="text-center">Quantity</th>
            <th scope="col" class="text-right">Price</th>
            <th> </th>
          </tr>
          </thead>
          <tbody id="listcart">
          </tbody>
        </table>
      </div>
    </div>



  </div>

</div>


</body>

<script>

  const formatter = new Intl.NumberFormat('en-US', {
    style: 'currency',
    currency: 'USD',
    minimumFractionDigits: 2
  })
  $(".my-product-validation").submit(function() {
    var form = $(this);
    if (form[0].checkValidity() === false) {
      event.preventDefault();
      event.stopPropagation();
    }
    form.addClass('was-validated');
  });

 $.when($.get("http://localhost:8080/getCurrentUser").then(function (data){
      const object = JSON.parse(data);
      var userid = object.id;
      window.userid = object.id;
      $.get("http://localhost:8080/api/seller/storeGetByUser/" + userid, function (storeinfo){

       storeinfo.forEach((store)=>{window.storeid = store.id});
       $.getJSON("http://localhost:8080/api/seller/productGetByStore/" + window.storeid , function (data){
          // window.products = JSON.parse(data);
          var div = document.querySelector('#listcart');
          data.forEach((product)=> {
            div.innerHTML =
                    div.innerHTML +
                    `<tr id="${product.id}">
                        <td class="w-25"><img class="img-fluid img-thumbnail photo" src="${product.photos}" /> </td>
                        <td><input class="form-control productName" type="text" value="${product.productName}" /></td>
                        <td><input class="form-control productDescription" type="text" value="${product.productDescription}" /></td>
                        <td><input class="form-control quantity" type="text" value="${product.quantity}" /></td>
                        <td><input class="form-control productPrice" type="text" value="${formatter.format(product.productPrice)}" /></td>
                        <td class="text-right"><button class="btn btn-sm btn-danger" onclick="reply_click(${product.id})"><i class="fa fa-trash"></i> </button> </td>
                    </tr>`;

          });
          div.innerHTML = div.innerHTML +
                 `
                   <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-right "><button class="btn update btn-lg btn-primary"><i class="fa fa-upload"></i> </button> </td>
                    </tr>`;







        });
      });
    }));
  function getnum(c){
    var t= Number(c.replace(/[^0-9.-]+/g,""));

    if(isNumeric(t)){
      return parseInt(t,10);
    }
    return 0;
    function isNumeric(n) {
      return !isNaN(parseFloat(n)) && isFinite(n);
    }
  }
  function getq(c){
    if(isNumeric(c)){
      return parseInt(c,10);
    }
    return 0;
    function isNumeric(n) {
      return !isNaN(parseFloat(n)) && isFinite(n);
    }
  }
  $("#registerProduct").click(function (){

    if(($("#name").val()!== "") && ($("#description").val()!== "") && ($("#price").val()!== "") && ($("#quantity").val()!== "")){


        var product = {
          "productName": $("#name").val(),
          "productDescription": $("#description").val(),
          "productPrice": getq($("#price").val()),
          "quantity": getq($("#quantity").val())
        }
        alert(JSON.stringify(product));


      $.ajax({
        url: "http://localhost:8080/api/seller/productAdd/" + window.userid,
        contentType: 'application/json ; charset = utf-8',
        type: "POST",
        data: JSON.stringify(product),
        success: function(e){
          alert(e);
        },
        error: function(jqXHR, textStatus, errorThrown) {
          alert(JSON.stringify(jqXHR));
        }
      });
    }
  });




  function reply_click(clicked_id)
  {
    // Parse json
    let notes = JSON.parse(localStorage.getItem(window.userinfo));
    // Get index of object
    const index = notes.findIndex(function(item){
      return item.id === clicked_id.toString();
    });
    // Splice the array at the index of your object
    notes.splice(index, 1);
    // Save back to localStorage

    localStorage.setItem(window.userinfo, JSON.stringify(notes));
    location.reload();
  }
</script>
</html>