<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Store Product</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!--    <link rel="stylesheet" href="home.css"/>-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
  <link href="../static/add-product-form.css" rel="stylesheet" type="text/css">
  <link href="../static/seller-product.css" rel="stylesheet" type="text/css">
</head>
<body>
<nav id="header"></nav>
<div class="container">
  <div class="col mb-2">
    <div class="row">


    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-image" id="cart">
          <thead>
          <tr>
            <th scope="col">
              <div class="col">
              <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#addProduct">+</button>
            </div>
              <!--      begin of modal              -->

              <div class="modal fade" id="addProduct" tabindex="-1" role="dialog" aria-labelledby="addProduct" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Add product form</h5>
                      <button type="button" class="close" id="close1" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="card fat">
                        <div class = "card-body">
                          <form class="my-product-validation" novalidate="">
                            <div class="form-group">
                              <label for="name">Product name</label>
                              <input id="name" type="text" class="form-control" name="name" required autofocus>
                              <div class="invalid-feedback">
                                What's your product's name?
                              </div>
                            </div>


                            <div class="form-group">
                              <label for="description">Product description</label>
                              <textarea id="description" class="form-control" name="description" required autofocus></textarea>
                              <div class="invalid-feedback">
                                What's your product's description?
                              </div>
                            </div>

                            <div class="form-group">
                              <label for="price">Product price</label>
                              <input type="text" id="price" class="form-control" name="price" required autofocus>
                              <div class="invalid-feedback">
                                What's your product's price?
                              </div>
                            </div>

                            <div class="form-group">
                              <label for="quantity">Product quantity</label>
                              <input type="number" id="quantity" class="form-control" name="quantity" required autofocus>
                              <div class="invalid-feedback">
                                What's your product's stock?
                              </div>
                            </div>

                            <div class="form-group modal-footer">
                              <button type="submit" id="registerProduct" class="btn btn-primary w-100">Register product</button>
                            </div>
                          </form>
                          <form id="image-upload-form">
                            <div class="form-group">
                              <label for="image">Product photo</label>
                              <input type="file" id="image" name="image" class="form-control" required autofocus>
                              <div class="invalid-feedback">
                                What's your product's photo?
                              </div>
                            </div>
                            <div class="form-group modal-footer">
                              <button type="button" id="close2" class="btn btn-secondary w-50" data-dismiss="modal">Close</button>
                              <button type="submit" id="upPhoto" class="btn btn-primary w-50">Up Photo</button>
                            </div>
                          </form>


                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <!--      end of modal              -->
            </th>
            <th scope="col">Product Name</th>
            <th scope="col">Description</th>
            <th scope="col" class="text-center">Quantity</th>
            <th scope="col" class="text-right">Price</th>
            <th> </th>
          </tr>
          </thead>
          <tbody id="listcart">
          </tbody>
        </table>
      </div>
    </div>



  </div>

</div>

<footer id="footer"></footer>
</body>

<script type="text/javascript" src="../static/seller-product.js"></script>
</html>