<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Order</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!--    <link rel="stylesheet" href="home.css"/>-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
  <link href="../static/seller-order.css" rel="stylesheet" type="text/css">

</head>

<body>
<nav id="header"></nav>
<div class="container">
  <div class="col mb-2">
    <div class="row">


    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-image" id="cart">
          <thead class="thead-dark">
            <tr>
              <th scope="col">User Email</th>
              <th scope="col">Product Name</th>
              <th scope="col">Product ID</th>
              <th scope="col">Quantity</th>
              <th scope="col">Buyer Address</th>
              <th scope="col">Bought Time</th>
            </tr>
          </thead>
          <tbody id="listOrder">
          </tbody>
        </table>
      </div>
    </div>



  </div>

</div>


</body>
<script type="text/javascript" src="../static/seller-order.js"></script>
</html>