<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--    <link rel="stylesheet" href="home.css"/>-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script>
        $(function(){
            $("#header").load("header.html");
        });

    </script>
    <style>
        .logout a:hover{
            color: white;
        }
        #myHeader{
            z-index: 500;
        }
        /* The sticky class is added to the header with JS when it reaches its scroll position */
        .sticky {
            position: fixed;
            top: 0;
            width: 100%
        }
        .content {
            padding: 16px;
        }
        /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
        .sticky + .content {
            padding-top: 102px;
        }
        .carousel .carousel-item {
            height: 300px;
        }
        .carousel-item img {
            position: absolute;
            top: 0;
            left: 0;
            min-height: 300px;
        }
        .dropdown-menu{
            transition: 0.4s;
        }
        .profile a, #user, #icon-user{
            text-decoration: none;
            color: white;
        }
        .displaycart a {
            text-decoration: none;
            color: rgba(255,255,255,.5);
        }
        .dropdown-item:hover{
            background-color: #007bff;
        }

        /*.dropdown-item a:hover{*/
        /*    color: #888888;*/
        /*}*/
    </style>
</head>

<body>
<nav id="header"></nav>
<div class="container-fluid">
    <div class = "row">
        <div class="card col-lg-3" style="width: 18rem; margin-left: 30px; margin-top: 30px">
            <img id="avatarImg" style=" height: auto;
                 width: auto;
                 max-width: 200px;
                 max-height: 300px; align-self: center " class="card-img-top" alt="...">


            <div class="card-body" style="align-self: center">
                <h5 class="card-title" style="text-align: center">My Profile</h5>
                <p class="card-text" style="text-align: center">This is my control panel</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">My personal details</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">See my cart</a>
                <a href="#" class="card-link">User settings</a>
            </div>
        </div>

        <div class="col-lg-9" style="padding-left: 50px; padding-right:10%; margin-right:-100px; padding-top:30px">
            <div class="row">
                <div class="card w-25 text-center">
                    <div class="card-body" >
                        <h6 class="card-title" style="">Your name</h6>
                    </div>
                </div>
                <div class="card w-75 text-center">
                    <div class="card-body">

                        <p class="card-title" id="nameField" style=""> <button style="padding: 0;border: none;background: none; outline:none !important;"
                                                                         data-toggle="modal" data-target="#changeNameModal"><i class="fa fa-edit"></i></button></p>
                        <!-- modal content                       -->
                        <div class="modal fade" id="changeNameModal" tabindex="-1" role="dialog" aria-labelledby="changeNameModal" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Change your name</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="changeNameForm">
                                            <div class="form-group row">
                                                <label for="inputFirstName" class="col-md-2 col-form-label">First name</label>
                                                <div class="col-md-7">
                                                    <input type="text" class="form-control" id="inputFirstName" placeholder="Your new first name" required>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="inputLastName" class="col-md-2 col-form-label">Last name</label>
                                                <div class="col-md-7">
                                                    <input type="text" class="form-control" id="inputLastName" placeholder="Your new last name" required>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary" id="submitNameButton">Save changes</button>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end of modal content-->
                    </div>
                </div>
            </div>

            <div class="row ">
                <div class="card w-25 text-center">
                    <div class="card-body">
                        <h6 class="card-title" style="">Your username</h6>
                    </div>
                </div>
                <div class="card w-75 text-center">
                    <div class="card-body">
                        <p class="card-title" style="" id="usernameField"> <button style="padding: 0;border: none;background: none; outline:none !important;"
                                                                          data-toggle="modal" data-target="#changeUsernameModal"><i class="fa fa-edit"></i></button></p>

                        <!-- modal content                       -->
                        <div class="modal  fade" id="changeUsernameModal" tabindex="-1" role="dialog" aria-labelledby="changeUsernameModal" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Change your username</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="changeUsernameForm" >
                                            <div class="form-group row">
                                                <label for="inputUsername" class="col-md-2 col-form-label">Username</label>
                                                <div class="col-md-7">
                                                    <input type="text" class="form-control" id="inputUsername" placeholder="Your new username" required/>

                                                </div>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button class="btn btn-primary" type="submit" id="submitUsernameButton">Save changes</button>
                                            </div>

                                        </form>

                                    </div>


                                </div>
                            </div>
                        </div>
                        <!-- end of modal content-->
                    </div>
                </div>
            </div>


            <div class="row ">
                <div class="card w-25 text-center">
                    <div class="card-body">
                        <h6 class="card-title" style="">Your profile picture</h6>
                    </div>
                </div>
                <div class="card w-75 text-center">
                    <div class="card-body">
                        <p class="card-title" style="" id="avatarField">  Change your avatar here <i class="fas fa-arrow-right"></i> <button style="padding: 0;border: none;background: none; outline:none !important;"
                                                                                   data-toggle="modal" data-target="#changeAvatarModal"><i class="fa fa-edit"></i></button></p>

                        <!-- modal content                       -->
                        <div class="modal  fade" id="changeAvatarModal" tabindex="-1" role="dialog" aria-labelledby="changeAvatarModal" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Change your avatar</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="changeAvatarForm" enctype="multipart/form-data" >
                                            <div class="form-group row">
                                                <label for="inputUsername" class="col-md-2 col-form-label">New avatar</label>
                                                <div class="col-md-7">
                                                    <input type="file" id="inputAvatar" name="img" accept="image/*">
                                                </div>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button class="btn btn-primary" type="submit" id="submitAvatarButton">Save changes</button>
                                            </div>

                                        </form>

                                    </div>


                                </div>
                            </div>
                        </div>
                        <!-- end of modal content-->
                    </div>
                </div>
            </div>



            <div class="row ">
                <div class="card w-25 text-center">
                    <div class="card-body">
                        <h6 class="card-title" style="">Your password</h6>
                    </div>
                </div>
                <div class="card w-75 text-center">
                    <div class="card-body">
                        <p class="card-title" style="" id="passwordField"> <button style="padding: 0;border: none;background: none; outline:none !important;"
                                                                                   data-toggle="modal" data-target="#changePasswordModal"><i class="fa fa-edit"></i></button></p>
                        <!-- modal content                       -->
                        <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModal" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Change your password</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="changePasswordForm">
                                            <div class="form-group row">
                                                <label for="inputFirstName" class="col-md-2 col-form-label">Password</label>
                                                <div class="col-md-7">
                                                    <input type="password" class="form-control" id="inputPassword" placeholder="Your new password" required/>
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="checkbox" onclick="passwordToggler()"/><label class="col-form-label"> Show password</label>
                                                </div>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary" id="submitPasswordButton">Save changes</button>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end of modal content-->
                    </div>
                </div>
            </div>


                <div class="row shop-name-block">
                    <div class="card w-25 text-center">
                        <div class="card-body shop-name-block" >
                            <h6 class="card-title shop-name-block" style="">Your shop</h6>
                        </div>
                    </div>
                    <div class="card w-75 text-center">
                        <div class="card-body shop-name-block">
                            <p class="card-title shop-name-block store-exist-not"> <i class="fas fa-exclamation-triangle" style="color: red"></i> You do not have a store! Create your store here <i class="fas fa-arrow-right"></i> &nbsp
                                <button class="shop-name-block store-exist-not" style="padding: 0;border: none;background: none; outline:none !important;" data-toggle="modal" data-target="#createShopModal"><i class="fa fa-edit"></i></button></p></p>
                            <p class="card-title shop-name-block store-exist" id="shopField" style="">
                                <button class="shop-name-block store-exist" style="padding: 0;border: none;background: none; outline:none !important;" data-toggle="modal" data-target="#changeShopModal"><i class="fa fa-edit"></i></button> &nbsp
                                <button class="shop-name-block store-exist" style="padding: 0;border: none;background: none; outline:none !important;" data-toggle="modal" data-target="#deleteShopModal"><i class="fa fa-trash"></i></button></p>
                            <!-- modal content -->
                            <div class="modal fade" id="createShopModal" tabindex="-1" role="dialog" aria-labelledby="createShopModal" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Choose your shop name</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form id="createShopForm">
                                                <div class="form-group row">
                                                    <label for="inputShopNameCreate" class="col-md-2 col-form-label">Shop name</label>
                                                    <div class="col-md-7">
                                                        <input type="text" class="form-control" id="inputShopNameCreate" placeholder="Your new shop name" required>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary" id="submitShopCreateButton">Save changes</button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="changeShopModal" tabindex="-1" role="dialog" aria-labelledby="changeShopModal" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Change your shop name</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form id="changeShopForm">
                                                <div class="form-group row">
                                                    <label for="inputFirstName" class="col-md-2 col-form-label">Shop name</label>
                                                    <div class="col-md-7">
                                                        <input type="text" class="form-control" id="inputShopName" placeholder="Your new shop name" required>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary" id="submitShopButton">Save changes</button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="deleteShopModal" tabindex="-1" role="dialog" aria-labelledby="deleteShopModal" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Delete confirmation</h5>

                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to delete your shop?</p>
                                            <form id="deleteShopForm">
                                                <div class="form-group row">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary" id="submitDeleteShopButton">Save changes</button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
<!--                             end of modal content-->
                        </div>
                    </div>
                </div>
        </div>
    </div>

</div>


</body>


<!--<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->

<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->
<script >

    $(function() {


        $("#changeNameForm").on("submit", function (e){
            e.preventDefault();
            var firstname = $("#inputFirstName").val();
            var lastname = $("#inputLastName").val();
            $.when($.get("http://localhost:8080/getID").then (function(data){
                $.ajax({
                            type:"PUT",
                            url: "http://localhost:8080/api/usernameUpdate/" + data + "?firstname=" + firstname + "&lastname=" + lastname,
                            success: function (response){
                                location.reload()
                                alert(JSON.stringify(response));
                            },
                            error: function(xhr) {
                                alert(JSON.stringify(xhr));

                            }
                        })
            }))
        })
    });

    $(function(){
        $("#changeUsernameForm").on("submit", function (e){
            e.preventDefault();
            var username = $("#inputUsername").val();
            $.when($.get("http://localhost:8080/getID").then (function(data){
                $.ajax({
                    type:"PUT",
                    url: "http://localhost:8080/api/userUsernameUpdate/" + data + "?username=" + username,
                    success: function (response){
                        location.reload()
                        alert(JSON.stringify(response));
                    },
                    error: function(xhr) {
                        alert(JSON.stringify(xhr));

                    }
                })
            }))
        })
    })

    $(function(){
        $("#changePasswordForm").on("submit", function (e){
            e.preventDefault();
            var password = $("#inputPassword").val();
            $.when($.get("http://localhost:8080/getID").then (function(data){
                $.ajax({
                    type:"PUT",
                    url: "http://localhost:8080/api/changepassword/" + data + "?new_password=" + password,
                    success: function (response){
                        location.reload()
                        alert(JSON.stringify(response));
                    },
                    error: function(xhr) {
                        alert(JSON.stringify(xhr));

                    }
                })
            }))
        })
    })

    function passwordToggler(){
        var x = document.getElementById("inputPassword");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
            x.type = "password";
        }
    }

    $(function(){
        $("#changeShopForm").on("submit", function (e){
            e.preventDefault();
            var shopName = $("#inputShopName").val();
            $.when($.get("http://localhost:8080/getID").then (function(data){
                $.when($.get("http://localhost:8080/api/seller/storeGetByUser/" + data).then (function(listStore) {
                    $.ajax({
                        type: "PUT",
                        url: " http://localhost:8080/api/seller/storeUpdate/" + listStore[0].id,
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify({"storeName": shopName}),
                        success: function (response) {
                            location.reload()
                            alert(JSON.stringify(response))
                        },
                        error: function (res) {
                            alert(JSON.stringify(res))
                        }
                    })
                }))
            }))
        })
    })

    $(function(){
        $("#createShopForm").on("submit", function (e){
            e.preventDefault();
            var shopName = $("#inputShopNameCreate").val();
            $.when($.get("http://localhost:8080/getID").then (function(data){
                $.ajax({
                    type: "POST",
                    url: " http://localhost:8080/api/seller/storeAdd/" + data + "?store_name=" + shopName,
                    contentType: "application/json; charset=utf-8",
                    success: function (response) {
                        location.reload();
                        alert(JSON.stringify(response))
                    },
                    error: function (res) {
                        alert(JSON.stringify(res))
                    }
                })
            }))
        })
    })



    $(function (){
        $.when($.get("http://localhost:8080/getID").then (function(data) {
            $.get("http://localhost:8080/api/" + data + "/checkPhoto",function (res){
                if (res.message === "true"){
                    $("#avatarImg").attr("src",  ".././user-photos/" + data + "/avatar.jpg");
                    $("#avatarImg").attr("src",  ".././user-photos/" + data + "/avatar.png");
                } else {
                    $("#avatarImg").attr("src",  "../static/default-avatar.png");
                }
            })
        }))
    })

    $(function(){
        $("#changeAvatarForm").on("submit", function (e){
            e.preventDefault();
            var formData = new FormData();
            var filename = $("#inputAvatar").val();
            var aux = filename.split('.');
            var extension = aux[aux.length -1].toUpperCase();
            console.log(extension);


            formData.append('image', $('input[type=file]')[0].files[0]);

            $.when($.get("http://localhost:8080/getID").then (function(data){
                $.ajax({
                    type:"PUT",
                    url: "http://localhost:8080/api/user/" + data + "/photo",
                    data: formData,
                    contentType: false,
                    processData: false,

                    success: function (response){

                        $.when($.get("http://localhost:8080/getID").then (function(data) {
                            if (extension === "PNG"){
                                $("#avatarImg").attr("src",  ".././user-photos/" + data + "/avatar.png");
                            } else if (extension === "JPEG" || extension === "JPG"){
                                $("#avatarImg").attr("src",  ".././user-photos/" + data + "/avatar.jpg");

                            }

                        }));

                        alert(JSON.stringify(response));
                    },
                    error: function(xhr) {
                        alert(JSON.stringify(xhr));

                    }
                })
            }))
        })
    })


    $(function(){
        $("#deleteShopForm").on("submit", function (e){
            e.preventDefault();
            $.when($.get("http://localhost:8080/getID").then (function(data){
                $.when($.get("http://localhost:8080/api/seller/storeGetByUser/" + data).then (function(listStore) {
                    $.ajax({
                        type: "DELETE",
                        url: " http://localhost:8080/api/seller/storeDelete/" + listStore[0].id,
                        success: function (response) {
                            location.reload();
                            alert(JSON.stringify(response))
                        },
                        error: function (res) {
                            alert(JSON.stringify(res))
                        }
                    })
                }))
            }))
        })
    })

    $(function (){
        $.when($.get("http://localhost:8080/getID").then (function(data){
            $.when($.get("http://localhost:8080/api/seller/storeGetByUser/" + data).then (function(listStore){
                if (listStore.length < 1){
                    $(".store-exist").hide();
                }
                else {
                    $(".store-exist-not").hide();
                }
            }));
        }));
    });



    $(function(){
        $.get("http://localhost:8080/username",function(data){
            let userAuthentication = JSON.parse(data);
            $.map(userAuthentication.authorities, function(elem, index) {
                //TODO: FIX ME :)
                if (elem.authority == "SHOP_PRIVILEGE"){
                    $(".list-group").append("<li class=\"list-group-item\">My shop</li>")

                } else if (elem.authority == "USER_PRIVILEGE"){
                    $(".list-group").append( "<li class=\"list-group-item\">My cart</li>");
                    $(".shop-name-block").hide();


                }
            });
        });
    });


    $(function(){
        $.get("http://localhost:8080/getCurrentUser",function(data){
            let obj = JSON.parse(data);
            $("#nameField").prepend(obj.firstName +" " + obj.lastName + " ");
            let password = obj.password;
            let hidePassword = password.substring(1,password.length);
            let mask="";
            for (let char in hidePassword) {
                mask  += '*';
            }
            password =  password.charAt(0) + mask;
            $("#passwordField").prepend(password + " ");

            $("#usernameField").prepend(obj.username + " ");
        });
        $.when($.get("http://localhost:8080/getID").then (function(data){
            $.when($.get("http://localhost:8080/api/seller/storeGetByUser/" + data).then (function(listStore){
                $("#shopField").prepend(listStore[0].storeName + " ");
            }));
        }));
    });

</script>
</html>