<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--    <link rel="stylesheet" href="home.css"/>-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <link href="../static/user-profile.css" rel="stylesheet" type="text/css">
</head>

<body>
<nav id="header"></nav>
<div class="container-fluid">
    <div class = "row">
        <div class="card col-lg-3" style="width: 18rem; margin-left: 30px; margin-top: 30px">
            <img id="avatarImg" style=" height: auto;
                 width: auto;
                 max-width: 200px;
                 max-height: 300px; align-self: center " class="card-img-top" alt="...">


            <div class="card-body" style="align-self: center">
                <h5 class="card-title" style="text-align: center">My Profile</h5>
                <p class="card-text" style="text-align: center">This is my control panel</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">My personal details</li>
            </ul>
            <div class="card-body" id="userAction">

                <a href="#" class="card-link">User settings</a>
            </div>
        </div>

        <div class="col-lg-9" style="padding-left: 50px; padding-right:10%; margin-right:-100px; padding-top:30px">
            <div class="row">
                <div class="card w-25 text-center">
                    <div class="card-body" >
                        <h6 class="card-title" style="">Your name</h6>
                    </div>
                </div>
                <div class="card w-75 text-center">
                    <div class="card-body">

                        <p class="card-title" id="nameField" style=""> <button style="padding: 0;border: none;background: none; outline:none !important;"
                                                                         data-toggle="modal" data-target="#changeNameModal"><i class="fa fa-edit"></i></button></p>
                        <!-- modal content                       -->
                        <div class="modal fade" id="changeNameModal" tabindex="-1" role="dialog" aria-labelledby="changeNameModal" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Change your name</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="changeNameForm">
                                            <div class="form-group row">
                                                <label for="inputFirstName" class="col-md-2 col-form-label">First name</label>
                                                <div class="col-md-7">
                                                    <input type="text" class="form-control" id="inputFirstName" placeholder="Your new first name" required>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="inputLastName" class="col-md-2 col-form-label">Last name</label>
                                                <div class="col-md-7">
                                                    <input type="text" class="form-control" id="inputLastName" placeholder="Your new last name" required>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary" id="submitNameButton">Save changes</button>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end of modal content-->
                    </div>
                </div>
            </div>

            <div class="row ">
                <div class="card w-25 text-center">
                    <div class="card-body">
                        <h6 class="card-title" style="">Your username</h6>
                    </div>
                </div>
                <div class="card w-75 text-center">
                    <div class="card-body">
                        <p class="card-title" style="" id="usernameField"> <button style="padding: 0;border: none;background: none; outline:none !important;"
                                                                          data-toggle="modal" data-target="#changeUsernameModal"><i class="fa fa-edit"></i></button></p>

                        <!-- modal content                       -->
                        <div class="modal  fade" id="changeUsernameModal" tabindex="-1" role="dialog" aria-labelledby="changeUsernameModal" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Change your username</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="changeUsernameForm" >
                                            <div class="form-group row">
                                                <label for="inputUsername" class="col-md-2 col-form-label">Username</label>
                                                <div class="col-md-7">
                                                    <input type="text" class="form-control" id="inputUsername" placeholder="Your new username" required/>

                                                </div>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button class="btn btn-primary" type="submit" id="submitUsernameButton">Save changes</button>
                                            </div>

                                        </form>

                                    </div>


                                </div>
                            </div>
                        </div>
                        <!-- end of modal content-->
                    </div>
                </div>
            </div>


            <div class="row ">
                <div class="card w-25 text-center">
                    <div class="card-body">
                        <h6 class="card-title" style="">Your profile picture</h6>
                    </div>
                </div>
                <div class="card w-75 text-center">
                    <div class="card-body">
                        <p class="card-title" style="" id="avatarField">  Change your avatar here <i class="fas fa-arrow-right"></i> <button style="padding: 0;border: none;background: none; outline:none !important;"
                                                                                   data-toggle="modal" data-target="#changeAvatarModal"><i class="fa fa-edit"></i></button></p>

                        <!-- modal content                       -->
                        <div class="modal  fade" id="changeAvatarModal" tabindex="-1" role="dialog" aria-labelledby="changeAvatarModal" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Change your avatar</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="changeAvatarForm" enctype="multipart/form-data" >
                                            <div class="form-group row">
                                                <label for="inputUsername" class="col-md-2 col-form-label">New avatar</label>
                                                <div class="col-md-7">
                                                    <input type="file" id="inputAvatar" name="img" accept="image/*">
                                                </div>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button class="btn btn-primary" type="submit" id="submitAvatarButton">Save changes</button>
                                            </div>

                                        </form>

                                    </div>


                                </div>
                            </div>
                        </div>
                        <!-- end of modal content-->
                    </div>
                </div>
            </div>



            <div class="row ">
                <div class="card w-25 text-center">
                    <div class="card-body">
                        <h6 class="card-title" style="">Your password</h6>
                    </div>
                </div>
                <div class="card w-75 text-center">
                    <div class="card-body">
                        <p class="card-title" style="" id="passwordField"> <button style="padding: 0;border: none;background: none; outline:none !important;"
                                                                                   data-toggle="modal" data-target="#changePasswordModal"><i class="fa fa-edit"></i></button></p>
                        <!-- modal content                       -->
                        <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModal" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Change your password</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="changePasswordForm">
                                            <div class="form-group row">
                                                <label for="inputFirstName" class="col-md-2 col-form-label">Password</label>
                                                <div class="col-md-7">
                                                    <input type="password" class="form-control" id="inputPassword" placeholder="Your new password" required/>
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="checkbox" onclick="passwordToggler()"/><label class="col-form-label"> Show password</label>
                                                </div>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary" id="submitPasswordButton">Save changes</button>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end of modal content-->
                    </div>
                </div>
            </div>


                <div class="row shop-name-block">
                    <div class="card w-25 text-center">
                        <div class="card-body shop-name-block" >
                            <h6 class="card-title shop-name-block" style="">Your shop</h6>
                        </div>
                    </div>
                    <div class="card w-75 text-center">
                        <div class="card-body shop-name-block">
                            <p class="card-title shop-name-block store-exist-not"> <i class="fas fa-exclamation-triangle" style="color: red"></i> You do not have a store! Create your store here <i class="fas fa-arrow-right"></i> &nbsp
                                <button class="shop-name-block store-exist-not" style="padding: 0;border: none;background: none; outline:none !important;" data-toggle="modal" data-target="#createShopModal"><i class="fa fa-edit"></i></button></p></p>
                            <p class="card-title shop-name-block store-exist" id="shopField" style="">
                                <button class="shop-name-block store-exist" style="padding: 0;border: none;background: none; outline:none !important;" data-toggle="modal" data-target="#changeShopModal"><i class="fa fa-edit"></i></button> &nbsp
                                <button class="shop-name-block store-exist" style="padding: 0;border: none;background: none; outline:none !important;" data-toggle="modal" data-target="#deleteShopModal"><i class="fa fa-trash"></i></button></p>
                            <!-- modal content -->
                            <div class="modal fade" id="createShopModal" tabindex="-1" role="dialog" aria-labelledby="createShopModal" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Choose your shop name</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form id="createShopForm">
                                                <div class="form-group row">
                                                    <label for="inputShopNameCreate" class="col-md-2 col-form-label">Shop name</label>
                                                    <div class="col-md-7">
                                                        <input type="text" class="form-control" id="inputShopNameCreate" placeholder="Your new shop name" required>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary" id="submitShopCreateButton">Save changes</button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="changeShopModal" tabindex="-1" role="dialog" aria-labelledby="changeShopModal" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Change your shop name</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form id="changeShopForm">
                                                <div class="form-group row">
                                                    <label for="inputFirstName" class="col-md-2 col-form-label">Shop name</label>
                                                    <div class="col-md-7">
                                                        <input type="text" class="form-control" id="inputShopName" placeholder="Your new shop name" required>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary" id="submitShopButton">Save changes</button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="deleteShopModal" tabindex="-1" role="dialog" aria-labelledby="deleteShopModal" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Delete confirmation</h5>

                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to delete your shop?</p>
                                            <form id="deleteShopForm">
                                                <div class="form-group row">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary" id="submitDeleteShopButton">Save changes</button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
<!--                             end of modal content-->
                        </div>
                    </div>
                </div>
        </div>
    </div>

</div>

<footer id="footer"></footer>
</body>
<script type="text/javascript" src="../static/user-profile.js"></script>
</html>